* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$gradientColor: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
$textHeaderColor: #fff;
$textBannerColor: #fff;
$lineBannerColor: #fff;
$lineColor: #F38281;
$buttonColor: #fff;
$sectionColor: #2D3033;
$descriptionColor: #000;
$buttonBgColorHover: #fff;
$textColorHover: #F4BF87;
$buttonBgColorActive: #364b4c;
$advantagesBgColor: #95E1D3;
$socialmedBgColor: #F9EFCF;
$sectionBgColor: #fff;
$backgroundImage: url('../media/background__img.webp');

$font-primary: "Raleway", sans-serif;
$font-secondary: "Kaushan Script", cursive;
$font-accent: "Montserrat", sans-serif;

$tablet: 1024px;
$mobile: 767px;

@mixin font($fontSize, $lineHeight, $fontWeight) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

body {
    font-family: $font-primary;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.services {
    margin-bottom: 91px;
    text-align: center;
    color: #2D3033;

    @media (max-width: $tablet) {
        margin-bottom: 58.15px;
    }

    @media (max-width: $mobile) {
        margin-bottom: 58px;
    }

    &__header {
        margin-bottom: 104px;

        @media (max-width: $tablet) {
            margin-bottom: 88.18px;
        }

        @media (max-width: $mobile) {
            margin-bottom: 86px;
        }
    }

    &__title {
        @include font(30px, 44px, 400);
        font-family: $font-secondary;
        margin-bottom: 37px;

        @media (max-width: $tablet) {
            @include font(24px, 35px, 400);
            margin-bottom: 36.83px;
        }

        @media (max-width: $mobile) {
            margin-bottom: 36px;
        }
    }

    &__heading {
        @include font(36px, 42px, 900);
        position: relative;
        text-transform: uppercase;

        @media (max-width: $tablet) {
            @include font(24px, 28px, 900);
        }

        &:before {
            content: "";
            border-top: 4px solid $lineColor;
            width: 170px;
            position: absolute;
            top: 100%;
            left: 50%;
            display: inline-block;
            transform: translateX(-50%) translateY(44px);

            @media (max-width: $tablet) {
                width: 148px;
                transform: translateX(-50%) translateY(41.17px);
            }

            @media (max-width: $mobile) {
                width: 134px;
                transform: translateX(-50%) translateY(40.85px);
            }

        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 159px 30px;

        @media (max-width: $tablet) {
            grid-gap: 58.46px 25.44px;
        }

        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 36px 0;
            justify-items: center;
        }
    }
}

.service {
    display: flex;
    text-align: start;
    column-gap: 30px;

    @media (max-width: $tablet) {
        column-gap: 25.44px;
    }

    @media (max-width: $mobile) {
        column-gap: 20px;
        width: 100%;
    }

    &:hover {
        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    &__wrapper-icon {
        width: 70px;
        height: 70px;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $tablet) {
            width: 59.35px;
            height: 59.35px;
        }

        @media (max-width: $mobile) {
            width: 57px;
            height: 57px;
        }
    }

    &__description {
        flex-grow: 1;
        padding-top: 19px;

        @media (max-width: $tablet) {
            padding-top: 18px;
        }

        @media (max-width: $mobile) {
            width: 100%;
            ;
        }
    }

    &__title {
        @include font(24px, 28px, 700);
        margin-bottom: 31px;
        text-transform: uppercase;

        @media (max-width: $tablet) {
            @include font(18px, 21px, 700);
            margin-bottom: 28.24px;
        }

        @media (max-width: $mobile) {
            margin-bottom: 17px;
        }
    }

    &__text {
        @include font(18px, 21px, 400);

        @media (max-width: $tablet) {
            @include font(14px, 16px, 400);
        }
    }
}