* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$gradientColor: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
$textHeaderColor: #fff;
$textBannerColor: #fff;
$lineBannerColor: #fff;
$lineColor: #F38281;
$buttonColor: #fff;
$sectionColor: #2D3033;
$descriptionColor: #000;
$buttonBgColorHover: #fff;
$textColorHover: #F4BF87;
$buttonBgColorActive: #364b4c;
$advantagesBgColor: #95E1D3;
$socialmedBgColor: #F9EFCF;
$sectionBgColor: #fff;
$backgroundImage: url('../media/background__img.webp');

$font-primary: "Raleway", sans-serif;
$font-secondary: "Kaushan Script", cursive;
$font-accent: "Montserrat", sans-serif;

$tablet: 1024px;
$mobile: 767px;

@mixin font($fontSize, $lineHeight, $fontWeight) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

body {
    font-family: $font-primary;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.blog {
    margin-bottom: 84px;
    text-align: center;
    color: #2D3033;

    @media (max-width: $tablet) {
        margin-bottom: 58px;
    }

    @media (max-width: $mobile) {
        margin-bottom: 28.85px;
    }

    &__header {
        margin-bottom: 86px;
        text-align: center;

        @media (max-width: $tablet) {
            margin-bottom: 77.14px;
        }

        @media (max-width: $mobile) {
            margin-bottom: 77px;
        }
    }

    &__text {
        @include font(30px, 44px, 400);
        font-family: $font-secondary;
        margin-bottom: 37px;

        @media (max-width: $tablet) {
            @include font(24px, 35px, 400);
        }

        @media (max-width: $mobile) {
            margin-bottom: 36px;
        }
    }

    &__heading {
        @include font(36px, 42px, 900);
        position: relative;
        text-transform: uppercase;

        @media (max-width: $tablet) {
            @include font(24px, 28px, 900);
        }

        &::before {
            content: "";
            border-top: 4px solid #F38281;
            width: 170px;
            position: absolute;
            top: 100%;
            left: 50%;
            display: inline-block;
            transform: translateX(-50%) translateY(44px);

            @media (max-width: $tablet) {
                width: 148px;
                transform: translateX(-50%) translateY(41.14px);
            }

            @media (max-width: $mobile) {
                width: 134px;
                transform: translateX(-50%) translateY(41px);
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0px 30px;

        @media (max-width: $tablet) {
            grid-gap: 0px 20px;
        }

        @media (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 29px 0;
            justify-items: center;
        }
    }
}

.article {

    &__wrapper-img {
        aspect-ratio: 370/253;
        margin-bottom: 36px;
        position: relative;

        @media (max-width: $tablet) {
            margin-bottom: 33px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        @include font(24px, 28px, 700);
        margin-bottom: 14px;
        text-align: left;

        @media (max-width: $tablet) {
            @include font(18px, 21px, 700);
            margin-bottom: 24px;
        }

        @media (max-width: $mobile) {
            margin-bottom: 16px;
        }
    }

    &__text {
        @include font(18px, 21px, 400);
        margin-bottom: 28px;
        text-align: left;

        @media (max-width: $tablet) {
            @include font(14px, 16px, 400);
            margin-bottom: 38.01px;
        }

        @media (max-width: $mobile) {
            margin-bottom: 30.01px;
        }

    }

    &__statistics {
        display: flex;
        column-gap: 47px;

        @media (max-width: $tablet) {
            column-gap: 37.68px;
        }
    }

    &__views,
    &__comments {
        display: flex;
        align-items: center;
        column-gap: 16px;

        @media (max-width: $tablet) {
            column-gap: 13.57px;
        }

        @media (max-width: $tablet) {
            column-gap: 13.57px;
        }
    }

    &__wrapper-icon {
        width: 32px;
        height: 32px;
        overflow: hidden;

        @media (max-width: $tablet) {
            width: 27.14px;
            height: 27.14px;
        }
    }

    &__icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__statistics-text {
        @include font(13px, 15px, 400);

        @media (max-width: $tablet) {
            @include font(12px, 14px, 400);
        }
    }

    &__date {
        @include font(18px, 30px, 500);
        padding: 7px 21px 6px;
        background-color: #95E1D3;
        color: #fff;
        position: absolute;
        bottom: 9.88%;
        left: -3.78%;
        width: 80px;
        text-align: center;
        text-transform: uppercase;

        @media (max-width: $tablet) {
            @include font(14px, 20px, 500);
            padding: 11px 20.86px 12.86px 20px;
            bottom: 9.827%;
            left: -2.96%;
            width: 67.86px;
        }

        @media (max-width: $mobile) {
            left: 0px;
        }
    }

    &__number {
        @include font(36px, 30px, 700);

        @media (max-width: $tablet) {
            @include font(24px, 20px, 700);
        }
    }
}

.location {
    margin-bottom: 76px;
    text-align: center;
    color: #F38281;
    padding: 42px 0 86px;
    background: center/cover no-repeat url("../media/blog__bg.webp");
    position: relative;

    @media (max-width: $tablet) {
        margin-bottom: 53.14px;
        padding: 28.48px 0 59px;
    }

    @media (max-width: $mobile) {
        margin-bottom: 52.37px;
        padding: 42px 0 93px;
    }

    &::before {
        background-color: rgba(255, 255, 255, 0.9);
        content: "";
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__container {
        position: relative;
    }

    &__wrapper-icon {
        width: 42px;
        height: 42px;
        overflow: hidden;
        margin: 0 auto 19px;

        @media (max-width: $tablet) {
            width: 28.48px;
            height: 28.48px;
            margin: 0 auto 13.04px;
        }

        @media (max-width: $mobile) {
            margin: 0 auto 26px;
        }
    }

    &__icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__heading {
        @include font(36px, 42px, 900);

        @media (max-width: $tablet) {
            @include font(24px, 28px, 900);
        }

    }

    &__heading::before {
        content: "";
        border-top: 4px solid #F38281;
        width: 170px;
        position: absolute;
        top: 100%;
        left: 50%;
        display: inline-block;
        transform: translateX(-50%) translateY(44px);

        @media (max-width: $tablet) {
            width: 148px;
            transform: translateX(-50%) translateY(30px);
        }

        @media (max-width: $mobile) {
            width: 134px;
            transform: translateX(-50%) translateY(51px);
        }
    }
}