* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$gradientColor: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
$textHeaderColor: #fff;
$textBannerColor: #fff;
$lineBannerColor: #fff;
$lineColor: #F38281;
$buttonColor: #fff;
$sectionColor: #2D3033;
$descriptionColor: #000;
$buttonBgColorHover: #fff;
$textColorHover: #F4BF87;
$buttonBgColorActive: #364b4c;
$advantagesBgColor: #95E1D3;
$socialmedBgColor: #F9EFCF;
$sectionBgColor: #fff;
$backgroundImage: url('../media/background__img.webp');

$font-primary: "Raleway", sans-serif;
$font-secondary: "Kaushan Script", cursive;
$font-accent: "Montserrat", sans-serif;

$tablet: 1024px;
$mobile: 767px;

@mixin font($fontSize, $lineHeight, $fontWeight) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

body {
    font-family: $font-primary;

    @media (max-width: $mobile) {
        background-image: $gradientColor, $backgroundImage;
    }

    &:has(.header__toggle:checked) {
        overflow: hidden;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 45px 0;
    margin-bottom: 77px;
    padding: 45px 0;
    margin-bottom: 77px;

    @media (max-width: $tablet) {
        padding: 28.48px 0 21.82px;
        margin-bottom: 52.03px;
    }

    @media (max-width: $mobile) {
        padding: 23.33px 0 18.17px;
        margin-bottom: 34px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper-logo {
        width: 97.64px;
        height: 26.1px;
        overflow: hidden;

        @media (max-width: $tablet) {
            width: 66.22px;
            height: 17.7px;
        }

        @media (max-width: $mobile) {
            width: 54.25px;
            height: 14.5px;
        }
    }

    &__logo {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__toggle {
        display: none;
        z-index: 3;
        position: relative;
    }

    &__btn {
        display: none;
        width: 24px;
        height: 18px;
        cursor: pointer;
        z-index: 3;
        position: relative;

        @media (max-width: $mobile) {
            display: block;
        }
    }

    &__burger-icon,
    &__close-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__burger-icon {
        display: block;
    }

    &__close-icon {
        display: none;
    }

    &__toggle:checked {

        &~.header__btn {

            .header__burger-icon {
                display: none;
            }

            .header__close-icon {
                display: block;
            }
        }

        &~.nav-mobile {
            left: 0;
        }

        &~.header__burger-overlay {
            opacity: 1;
            visibility: visible;
        }
    }

    &__burger-overlay {
        display: none;

        @media (max-width: $mobile) {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;
            z-index: -2;
        }
    }

}


.welcome {
    min-height: 100vh;
    background: $gradientColor, $backgroundImage;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 122px;

    &__container {
        text-align: center;
    }

    &__title {
        @include font(64px, 93px, 400);
        font-family: $font-secondary;
        color: $textBannerColor;
        margin-bottom: 2px;

        @media (max-width: $tablet) {
            @include font(48px, 70px, 400);
            margin-bottom: 8px;
        }

        @media (max-width: $mobile) {
            @include font(36px, 52px, 400);
            margin-bottom: 46px;
        }
    }

    &__heading {
        text-transform: uppercase;
        font-family: $font-accent;
        @include font(144px, 176px, 700);
        color: $textBannerColor;
        position: relative;
        margin-bottom: 116px;

        @media (max-width: $tablet) {
            @include font(96px, 117px, 700);
            margin-bottom: 87.58px;
        }

        @media (max-width: $mobile) {
            @include font(49px, 59px, 700);
            margin-bottom: 116px;
        }
    }

    &__heading::after {
        content: '';
        border-top: 4px solid $lineBannerColor;
        width: 170px;
        position: absolute;
        top: 100%;
        left: 50%;
        display: inline-block;
        transform: translateX(-50%) translateY(53px);

        @media (max-width: $tablet) {
            width: 115.28px;
            transform: translateX(-50%) translateY(38.75px);
        }

        @media (max-width: $mobile) {
            width: 170px;
            transform: translateX(-50%) translateY(67px);
        }
    }

    &__btn {
        background-color: transparent;
        border: 4px solid $buttonColor;
        text-transform: uppercase;
        font-family: $font-primary;
        @include font(24px, 28px, 700);
        padding: 22px;
        max-width: 370px;
        width: 100%;
        margin-bottom: 137px;
        color: $buttonColor;
        cursor: pointer;

        @media (max-width: $tablet) {
            max-width: 318px;
            padding: 12.64px;
            margin-bottom: 78.89px;
            @include font(18px, 21px, 700);
        }

        @media (max-width: $mobile) {
            max-width: 285px;
            padding: 12.64px;
            margin-bottom: 53.75px;
            @include font(18px, 21px, 700);
        }

        &:hover {
            background-color: #fff;
            color: $textColorHover;
        }

        &:active {
            border: 4px solid $textColorHover;
        }

    }

    &__list {
        display: flex;
        column-gap: 30px;
        list-style-type: none;
        justify-content: space-between;

        @media (max-width: $tablet) {
            column-gap: 20px;
        }
    }

    &__btn-list {
        background-color: transparent;
        border: none;
        border-top: 4px solid $buttonColor;
        text-transform: uppercase;
        font-family: $font-primary;
        @include font(18px, 21px, 500);
        cursor: pointer;
        max-width: 270px;
        width: 100%;
        color: $textBannerColor;
        padding: 21px 0;
        text-align: left;

        @media (max-width: $tablet) {
            @include font(14px, 16px, 500);
            padding: 15px 0;
            max-width: 233px;
        }

        @media (max-width: $mobile) {
            @include font(0px, 0px, 0);
            min-width: 57px;
        }
    }

    &__number {
        @include font(36px, 42px, 700);

        @media (max-width: $tablet) {
            @include font(24px, 28px, 700);
        }

        @media (max-width: $mobile) {
            @include font(0px, 0px, 0);
        }
    }

    &__item {
        position: relative;
        width: 100%;

        &:first-of-type::after {
            content: '';
            border-top: 4px solid $lineColor;
            width: 70px;
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;

            @media (max-width: $tablet) {
                width: 64px;
            }

            @media (max-width: $mobile) {
                width: 100%;
            }
        }

    }
}

.nav {

    @media (max-width: $mobile) {
        display: none;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        column-gap: 62px;

        @media (max-width: $tablet) {
            column-gap: 47px;
        }
    }

    &__item:nth-last-child(2) {
        margin-right: -27px;

        @media (max-width: $tablet) {
            margin-right: -23, 26px;
        }
    }

    &__item:nth-last-child(3) {
        margin-right: -21px;

        @media (max-width: $tablet) {
            margin-right: -2, 57;
        }
    }

    &__link {
        text-decoration: none;
        outline: none;
        text-transform: uppercase;
        @include font(14px, 16px, 700);
        color: #fff;
        position: relative;

        &:hover {
            color: $textColorHover;

            &:before {
                content: '';
                border-top: 1px solid $textColorHover;
                width: 85px;
                position: absolute;
                top: 100%;
                left: 50%;
                display: inline-block;
                transform: translateY(5px) translateX(-50%);
            }

            .nav__icon path {
                fill: $textColorHover;
            }
        }
    }
}

.nav-mobile {
    display: none;

    @media (max-width: $mobile) {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100vw;
        height: 100vh;
        background: $gradientColor, $backgroundImage;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        overflow-y: auto;
        padding-top: 80px;

    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 49px;
        padding-top: 52px;
    }

    &__link {
        display: block;
        padding: 20px 0;
        color: $textHeaderColor;
        text-decoration: none;
        text-transform: uppercase;
        @include font(13px, 15px, 700);

        &:hover {
            color: $textColorHover;
        }
    }
}