* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes header-bg {
  from {
    background: transparent;
  }
  to {
    background: #222;
  }
}
@keyframes drawLine {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes imageShiftDesktop {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: -16px;
    left: -16px;
  }
}
@keyframes imageShiftTablet {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: -7px;
    left: -6px;
  }
}
@keyframes contentShift {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes waterRipple {
  0% {
    transform: scale(1) translateY(0);
    filter: blur(0);
  }
  25% {
    transform: scale(1.02) translateY(-2px);
    filter: blur(1px);
  }
  50% {
    transform: scale(0.98) translateY(2px);
    filter: blur(0.5px);
  }
  75% {
    transform: scale(1.03) translateY(-1px);
    filter: blur(0);
  }
  100% {
    transform: scale(1) translateY(0);
    filter: blur(0);
  }
}
body {
  font-family: "Raleway", sans-serif;
}
body:has(.header__toggle:checked) {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 45px 0;
  animation: header-bg linear;
  animation-timeline: scroll(root block);
}
@media (max-width: 1024px) {
  .header {
    padding: 28.48px 0 21.82px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 23.33px 0 18.17px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrapper-logo {
  width: 97.64px;
  height: 26.1px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .header__wrapper-logo {
    width: 66.22px;
    height: 17.7px;
  }
}
@media (max-width: 767px) {
  .header__wrapper-logo {
    width: 54.25px;
    height: 14.5px;
  }
}
.header__logo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.header__toggle {
  display: none;
  z-index: 3;
  position: relative;
}
.header__btn {
  display: none;
  width: 24px;
  height: 18px;
  cursor: pointer;
  z-index: 3;
  position: relative;
}
@media (max-width: 767px) {
  .header__btn {
    display: block;
  }
}
.header__burger-icon, .header__close-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header__burger-icon {
  display: block;
}
.header__close-icon {
  display: none;
}
.header__toggle:checked ~ .header__btn .header__burger-icon {
  display: none;
}
.header__toggle:checked ~ .header__btn .header__close-icon {
  display: block;
}
.header__toggle:checked ~ .nav-mobile {
  left: 0;
  opacity: 1;
}
.header__toggle:checked ~ .header__burger-overlay {
  opacity: 1;
  visibility: visible;
}
.header__burger-overlay {
  display: none;
}
@media (max-width: 767px) {
  .header__burger-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: -2;
  }
}

.welcome {
  min-height: 100vh;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%), url("../media/background__img1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 122px 0 22px;
  display: flex;
  align-items: center;
}
.welcome-second {
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%), url("../media/background__img2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.welcome-third {
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%), url("../media/background__img3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.welcome-fourth {
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%), url("../media/background__img4.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.welcome__container {
  text-align: center;
  margin-bottom: 205px;
}
@media (max-width: 1024px) {
  .welcome__container {
    margin-bottom: 140.31px;
  }
}
@media (max-width: 767px) {
  .welcome__container {
    margin-bottom: 99.75px;
  }
}
.welcome__title {
  font-size: 64px;
  line-height: 93px;
  font-weight: 400;
  font-family: "Kaushan Script", cursive;
  color: #fff;
  margin-bottom: 2px;
  animation: fadeUp 1s ease forwards;
}
@media (max-width: 1024px) {
  .welcome__title {
    font-size: 48px;
    line-height: 70px;
    font-weight: 400;
    margin-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .welcome__title {
    font-size: 36px;
    line-height: 52px;
    font-weight: 400;
    margin-bottom: 46px;
  }
}
.welcome__heading {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 144px;
  line-height: 176px;
  font-weight: 700;
  color: #fff;
  position: relative;
  margin-bottom: 116px;
  animation: fadeUp 1s ease forwards;
}
@media (max-width: 1024px) {
  .welcome__heading {
    font-size: 96px;
    line-height: 117px;
    font-weight: 700;
    margin-bottom: 87.58px;
  }
}
@media (max-width: 767px) {
  .welcome__heading {
    font-size: 49px;
    line-height: 59px;
    font-weight: 700;
    margin-bottom: 116px;
  }
}
.welcome__heading::after {
  content: "";
  border-top: 4px solid #fff;
  width: 170px;
  position: absolute;
  top: 100%;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%) translateY(53px);
}
@media (max-width: 1024px) {
  .welcome__heading::after {
    width: 115.28px;
    transform: translateX(-50%) translateY(38.75px);
  }
}
@media (max-width: 767px) {
  .welcome__heading::after {
    width: 170px;
    transform: translateX(-50%) translateY(67px);
  }
}
.welcome__btn {
  background-color: transparent;
  border: 4px solid #fff;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding: 22px;
  max-width: 370px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  animation: fadeBtnUp 1s ease forwards;
  transition: all 0.4s ease;
}
@media (max-width: 1024px) {
  .welcome__btn {
    max-width: 318px;
    padding: 12.64px;
    margin-bottom: 78.89px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
  }
}
@media (max-width: 767px) {
  .welcome__btn {
    max-width: 285px;
    padding: 12.64px;
    margin-bottom: 53.75px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
  }
}
.welcome__btn:hover {
  background-color: #fff;
  color: #F4BF87;
  transform: scale(1.1);
}
.welcome__btn:active {
  border: 4px solid #F4BF87;
}

.banner {
  margin-bottom: 60px;
}
.banner .swiper-pagination {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
  position: relative;
  transform: translateY(-85px);
}
@media (max-width: 1024px) {
  .banner .swiper-pagination {
    transform: translateY(-57.48p);
  }
}
@media (max-width: 767px) {
  .banner .swiper-pagination {
    transform: translateY(-42px);
  }
}
.banner .swiper-pagination-bullet {
  background: #fff;
  cursor: pointer;
  width: 100%;
  height: 4px;
  border-radius: 0px;
  opacity: 1;
}
.banner .swiper-pagination-bullet-active {
  position: relative;
}
.banner .swiper-pagination-bullet-active::after {
  content: "";
  border-top: 4px solid #F38281;
  width: 25.926%;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
@media (max-width: 1024px) {
  .banner .swiper-pagination-bullet-active::after {
    width: 27.468%;
  }
}
@media (max-width: 767px) {
  .banner .swiper-pagination-bullet-active::after {
    width: 100%;
  }
}

.nav {
  display: flex;
  -moz-column-gap: 41px;
       column-gap: 41px;
}
@media (max-width: 1024px) {
  .nav {
    -moz-column-gap: 44.43px;
         column-gap: 44.43px;
  }
}
@media (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  -moz-column-gap: 62px;
       column-gap: 62px;
}
@media (max-width: 1024px) {
  .nav__list {
    -moz-column-gap: 47px;
         column-gap: 47px;
  }
}
.nav__link {
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  position: relative;
  transition: all 0.3s linear;
}
.nav__link:hover {
  color: #F4BF87;
}
.nav__link:hover:before {
  content: "";
  border-top: 1px solid #F4BF87;
  width: 173.47%;
  position: absolute;
  top: 100%;
  left: 50%;
  display: inline-block;
  transform: translateY(5px) translateX(-50%);
  animation: drawLine 0.3s linear;
}
.nav__list-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
@media (max-width: 1024px) {
  .nav__list-icon {
    -moz-column-gap: 23.74px;
         column-gap: 23.74px;
  }
}
.nav__icon path {
  transition: all 0.3s linear;
}
.nav__icon:hover path {
  fill: #F4BF87;
}

.nav-mobile {
  display: none;
}
@media (max-width: 767px) {
  .nav-mobile {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%), url("../media/background__img1.webp");
    opacity: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    overflow-y: auto;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.nav-mobile__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-column-gap: 49px;
       column-gap: 49px;
}
.nav-mobile__link {
  display: block;
  padding: 20px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
}
.nav-mobile__link:hover {
  color: #F4BF87;
}

.about {
  margin-bottom: 66px;
  text-align: center;
  color: #2D3033;
}
@media (max-width: 1024px) {
  .about {
    margin-bottom: 58px;
  }
}
@media (max-width: 767px) {
  .about {
    margin-bottom: 58.99px;
  }
}
.about__header {
  margin-bottom: 96px;
}
@media (max-width: 1024px) {
  .about__header {
    margin-bottom: 82.21px;
  }
}
@media (max-width: 767px) {
  .about__header {
    margin-bottom: 33px;
  }
}
.about__title {
  font-size: 30px;
  line-height: 44px;
  font-weight: 400;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 37px;
}
@media (max-width: 1024px) {
  .about__title {
    font-size: 24px;
    line-height: 35px;
    font-weight: 400;
    margin-bottom: 34.91px;
  }
}
@media (max-width: 767px) {
  .about__title {
    margin-bottom: 36px;
  }
}
.about__heading {
  font-size: 36px;
  line-height: 42px;
  font-weight: 900;
  margin-bottom: 79px;
  position: relative;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .about__heading {
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    margin-bottom: 73.82px;
  }
}
@media (max-width: 767px) {
  .about__heading {
    margin-bottom: 57px;
  }
}
.about__heading::before {
  content: "";
  border-top: 4px solid #F38281;
  width: 170px;
  position: absolute;
  top: 100%;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%) translateY(41px);
}
@media (max-width: 1024px) {
  .about__heading::before {
    width: 148px;
    transform: translateX(-50%) translateY(41.09px);
  }
}
@media (max-width: 767px) {
  .about__heading::before {
    width: 134px;
    transform: translateX(-50%) translateY(40px);
  }
}
.about__description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
}
@media (max-width: 1024px) {
  .about__description {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
.about__imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1024px) {
  .about__imgs {
    -moz-column-gap: 17.57px;
         column-gap: 17.57px;
  }
}
@media (max-width: 767px) {
  .about__imgs {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
}
.about__wrapper-content {
  aspect-ratio: 1/0.916;
  position: relative;
}
@media (max-width: 1024px) {
  .about__wrapper-content {
    aspect-ratio: 1/0.8823;
  }
}
@media (max-width: 767px) {
  .about__wrapper-content {
    aspect-ratio: 1/0.8958;
  }
}
.about__wrapper-content:hover {
  background-color: #95E1D3;
}
@media (max-width: 767px) {
  .about__wrapper-content:hover {
    background-color: transparent;
  }
}
.about__wrapper-content:hover .about__content {
  opacity: 1;
  animation: imageShiftDesktop 0.3s linear;
}
@media (max-width: 1024px) {
  .about__wrapper-content:hover .about__content {
    animation: imageShiftTablet 0.3s linear;
  }
}
@media (max-width: 767px) {
  .about__wrapper-content:hover .about__content {
    animation: none;
  }
}
.about__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
  position: relative;
  z-index: -1;
  display: flex;
}
.about__content {
  opacity: 0;
  display: flex;
  position: absolute;
  top: -16px;
  left: -16px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
  gap: 30px 0;
}
@media (max-width: 1024px) {
  .about__content {
    top: -7px;
    left: -6px;
    gap: 26.09px 0;
  }
}
@media (max-width: 767px) {
  .about__content {
    height: -moz-max-content;
    height: max-content;
    flex-direction: row;
    justify-content: flex-start;
    top: auto;
    left: 0;
    bottom: 0;
    padding: 26px 14px 26.54px;
    opacity: 1;
    gap: 0 32.54px;
    animation: contentShift 1s linear;
  }
}
.about__wrapper-icon {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .about__wrapper-icon {
    width: 33.46px;
    height: 33.46px;
  }
}
@media (max-width: 767px) {
  .about__wrapper-icon {
    width: 30.46px;
    height: 30.46px;
  }
}
.about__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .about__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
  }
}

.achievements {
  background-color: #95E1D3;
}

.achievement {
  display: flex;
  margin-bottom: 65px;
}
@media (max-width: 767px) {
  .achievement {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.achievement__text {
  flex: 1;
  text-align: center;
  padding: 64px 0px;
  color: #fff;
  border-right: 1px solid #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s ease;
}
.achievement__text:hover {
  background: rgba(255, 255, 255, 0.05);
}
.achievement__text::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-25deg);
  transition: 0.75s;
}
.achievement__text:hover::after {
  left: 125%;
}
.achievement__text:first-child {
  border-left: 1px solid #fff;
}
@media (max-width: 767px) {
  .achievement__text:first-child {
    border-left: none;
  }
}
@media (max-width: 1024px) {
  .achievement__text {
    padding: 34px 0px 33.56px 0px;
  }
}
@media (max-width: 767px) {
  .achievement__text {
    padding: 64px 0px;
    width: 50%;
    flex: 0 0 50%;
    border: none;
    border-bottom: 1px solid #fff;
  }
  .achievement__text:last-child {
    border-bottom: none;
  }
}
.achievement__description {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  display: block;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .achievement__description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
  }
}
.achievement__number {
  font-size: 64px;
  line-height: 75px;
  font-weight: 700;
  margin-bottom: 28px;
  display: inline-block;
  transition: transform 0.3s ease, filter 0.3s ease;
}
@media (max-width: 1024px) {
  .achievement__number {
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
  }
}

.services {
  margin-bottom: 91px;
  text-align: center;
  color: #2D3033;
}
@media (max-width: 1024px) {
  .services {
    margin-bottom: 58.15px;
  }
}
@media (max-width: 767px) {
  .services {
    margin-bottom: 58px;
  }
}
.services__header {
  margin-bottom: 104px;
}
@media (max-width: 1024px) {
  .services__header {
    margin-bottom: 88.18px;
  }
}
@media (max-width: 767px) {
  .services__header {
    margin-bottom: 86px;
  }
}
.services__title {
  font-size: 30px;
  line-height: 44px;
  font-weight: 400;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 37px;
}
@media (max-width: 1024px) {
  .services__title {
    font-size: 24px;
    line-height: 35px;
    font-weight: 400;
    margin-bottom: 36.83px;
  }
}
@media (max-width: 767px) {
  .services__title {
    margin-bottom: 36px;
  }
}
.services__heading {
  font-size: 36px;
  line-height: 42px;
  font-weight: 900;
  position: relative;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .services__heading {
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
  }
}
.services__heading:before {
  content: "";
  border-top: 4px solid #F38281;
  width: 170px;
  position: absolute;
  top: 100%;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%) translateY(44px);
}
@media (max-width: 1024px) {
  .services__heading:before {
    width: 148px;
    transform: translateX(-50%) translateY(41.17px);
  }
}
@media (max-width: 767px) {
  .services__heading:before {
    width: 134px;
    transform: translateX(-50%) translateY(40.85px);
  }
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 159px 30px;
}
@media (max-width: 1024px) {
  .services__grid {
    grid-gap: 58.46px 25.44px;
  }
}
@media (max-width: 767px) {
  .services__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 36px 0;
    justify-items: center;
  }
}

.service {
  display: flex;
  text-align: start;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1024px) {
  .service {
    -moz-column-gap: 25.44px;
         column-gap: 25.44px;
  }
}
@media (max-width: 767px) {
  .service {
    -moz-column-gap: 20px;
         column-gap: 20px;
    width: 100%;
  }
}
.service__wrapper-icon {
  width: 70px;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .service__wrapper-icon {
    width: 59.35px;
    height: 59.35px;
  }
}
@media (max-width: 767px) {
  .service__wrapper-icon {
    width: 57px;
    height: 57px;
  }
}
.service__description {
  flex-grow: 1;
  padding-top: 19px;
}
@media (max-width: 1024px) {
  .service__description {
    padding-top: 18px;
  }
}
@media (max-width: 767px) {
  .service__description {
    width: 100%;
  }
}
.service__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 31px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .service__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 28.24px;
  }
}
@media (max-width: 767px) {
  .service__title {
    margin-bottom: 17px;
  }
}
.service__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .service__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}

.feedbacks {
  background-color: #F8F8F8;
  padding: 42px 0;
  margin-bottom: 84px;
}
@media (max-width: 1024px) {
  .feedbacks {
    padding: 28px 0;
    margin-bottom: 57.75px;
  }
}
@media (max-width: 767px) {
  .feedbacks {
    padding: 35px 0 28.51px;
    margin-bottom: 29px;
  }
}

.feedback {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 0 100px;
}
@media (max-width: 1024px) {
  .feedback {
    padding: 0 84px 0 100px;
  }
}
@media (max-width: 767px) {
  .feedback {
    padding: 0;
    flex-direction: column;
    row-gap: 41.72px;
  }
}
.feedback__wrapper-img {
  aspect-ratio: 1/1;
  width: 170px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .feedback__wrapper-img {
    width: 115.28px;
  }
}
@media (max-width: 767px) {
  .feedback__wrapper-img {
    margin: 0 auto;
  }
}
.feedback__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.feedback__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 31px;
  color: #A9AFB1;
}
@media (max-width: 1024px) {
  .feedback__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .feedback__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 29px;
  }
}
.feedback__wrapper-author {
  display: flex;
  -moz-column-gap: 56px;
       column-gap: 56px;
  align-items: center;
}
@media (max-width: 1024px) {
  .feedback__wrapper-author {
    -moz-column-gap: 37.8px;
         column-gap: 37.8px;
  }
}
@media (max-width: 767px) {
  .feedback__wrapper-author {
    -moz-column-gap: 28px;
         column-gap: 28px;
  }
}
.feedback__line {
  width: 70px;
  height: 4px;
  background-color: #F38281;
}
@media (max-width: 1024px) {
  .feedback__line {
    width: 47.47px;
  }
}
@media (max-width: 767px) {
  .feedback__line {
    width: 57px;
  }
}
.feedback__author {
  font-size: 30px;
  line-height: 44px;
  font-weight: 400;
  font-family: "Kaushan Script", cursive;
}
@media (max-width: 1024px) {
  .feedback__author {
    font-size: 24px;
    line-height: 35px;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .feedback__author {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
}
.feedback__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.33px;
  height: 30.15px;
}
@media (max-width: 1024px) {
  .feedback__nav {
    width: 28.48px;
  }
}
@media (max-width: 767px) {
  .feedback__nav {
    display: none;
  }
}
.feedback__pagination {
  position: static;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20.51px;
}
@media (min-width: 767px) {
  .feedback__pagination {
    display: none;
  }
}
.feedback__pagination .swiper-pagination-bullet {
  width: 9.49px;
  height: 9.49px;
  border: 1px solid #C6CBCD;
  background-color: transparent;
  opacity: 1;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.feedback__pagination .swiper-pagination-bullet-active {
  background-color: #C6CBCD;
}

.comments {
  background-color: #F8F8F8;
  padding: 42px 0;
}
@media (max-width: 1024px) {
  .comments {
    padding: 28px 0;
  }
}
@media (max-width: 767px) {
  .comments {
    padding: 35px 0 28.51px;
  }
}

.comment {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 0 100px;
}
@media (max-width: 1024px) {
  .comment {
    padding: 0 84px 0 100px;
  }
}
@media (max-width: 767px) {
  .comment {
    padding: 0;
  }
}
.comment__wrapper-icon {
  aspect-ratio: 1/1;
  width: 170px;
  flex-shrink: 0;
  border: 2px solid #95E1D3;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .comment__wrapper-icon {
    width: 115.28px;
  }
}
@media (max-width: 767px) {
  .comment__wrapper-icon {
    display: none;
  }
}
.comment__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 31px;
  color: #A9AFB1;
}
@media (max-width: 1024px) {
  .comment__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .comment__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 29px;
  }
}
.comment__wrapper-author {
  display: flex;
  -moz-column-gap: 56px;
       column-gap: 56px;
  align-items: center;
}
@media (max-width: 1024px) {
  .comment__wrapper-author {
    -moz-column-gap: 37.8px;
         column-gap: 37.8px;
  }
}
.comment__line {
  width: 70px;
  height: 4px;
  background-color: #F38281;
}
@media (max-width: 1024px) {
  .comment__line {
    width: 47.47px;
  }
}
.comment__author {
  font-size: 30px;
  line-height: 44px;
  font-weight: 400;
  font-family: "Kaushan Script", cursive;
}
@media (max-width: 1024px) {
  .comment__author {
    font-size: 24px;
    line-height: 35px;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .comment__author {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
}
.comment__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.33px;
  height: 30.15px;
}
@media (max-width: 1024px) {
  .comment__nav {
    width: 28.48px;
  }
}
@media (max-width: 767px) {
  .comment__nav {
    display: none;
  }
}
.comment__pagination {
  position: static;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20.51px;
}
@media (min-width: 767px) {
  .comment__pagination {
    display: none;
  }
}
.comment__pagination .swiper-pagination-bullet {
  width: 9.49px;
  height: 9.49px;
  border: 1px solid #C6CBCD;
  background-color: transparent;
  opacity: 1;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.comment__pagination .swiper-pagination-bullet-active {
  background-color: #C6CBCD;
}/*# sourceMappingURL=style.css.map */