* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$gradientColor: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
$textHeaderColor: #fff;
$textBannerColor: #fff;
$lineBannerColor: #fff;
$lineColor: #F38281;
$buttonColor: #fff;
$sectionColor: #2D3033;
$descriptionColor: #000;
$buttonBgColorHover: #fff;
$textColorHover: #F4BF87;
$buttonBgColorActive: #364b4c;
$advantagesBgColor: #95E1D3;
$socialmedBgColor: #F9EFCF;
$sectionBgColor: #fff;
$backgroundImage: url('../media/background__img.webp');

$font-primary: "Raleway", sans-serif;
$font-secondary: "Kaushan Script", cursive;
$font-accent: "Montserrat", sans-serif;

$tablet: 1024px;
$mobile: 767px;

@mixin font($fontSize, $lineHeight, $fontWeight) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

@keyframes header-bg {
    from {
        background: transparent;
    }

    to {
        background: #222;
    }
}

@keyframes drawLine {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes imageShiftDesktop {
    0% {
        top: 0px;
        left: 0px;
    }

    100% {
        top: -16px;
        left: -16px
    }
}

@keyframes imageShiftTablet {
    0% {
        top: 0px;
        left: 0px;
    }

    100% {
        top: -7px;
        left: -6px
    }
}

@keyframes contentShift {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


body {
    font-family: $font-primary;

    &:has(.header__toggle:checked) {
        overflow: hidden;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 45px 0;
    animation: header-bg linear;
    animation-timeline: scroll(root block);


    @media (max-width: $tablet) {
        padding: 28.48px 0 21.82px;
    }

    @media (max-width: $mobile) {
        padding: 23.33px 0 18.17px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper-logo {
        width: 97.64px;
        height: 26.1px;
        overflow: hidden;

        @media (max-width: $tablet) {
            width: 66.22px;
            height: 17.7px;
        }

        @media (max-width: $mobile) {
            width: 54.25px;
            height: 14.5px;
        }
    }

    &__logo {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__toggle {
        display: none;
        z-index: 3;
        position: relative;
    }

    &__btn {
        display: none;
        width: 24px;
        height: 18px;
        cursor: pointer;
        z-index: 3;
        position: relative;

        @media (max-width: $mobile) {
            display: block;
        }
    }

    &__burger-icon,
    &__close-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__burger-icon {
        display: block;
    }

    &__close-icon {
        display: none;
    }

    &__toggle:checked {

        &~.header__btn {

            .header__burger-icon {
                display: none;
            }

            .header__close-icon {
                display: block;
            }
        }

        &~.nav-mobile {
            left: 0;
        }

        &~.header__burger-overlay {
            opacity: 1;
            visibility: visible;
        }
    }

    &__burger-overlay {
        display: none;

        @media (max-width: $mobile) {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;
            z-index: -2;
        }
    }

}


.welcome {
    min-height: 100vh;
    background: $gradientColor, $backgroundImage;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 122px 0 22px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    @media (max-width: $mobile) {
        padding: 42px;
    }

    &__container {
        text-align: center;
    }

    &__title {
        @include font(64px, 93px, 400);
        font-family: $font-secondary;
        color: $textBannerColor;
        margin-bottom: 2px;

        @media (max-width: $tablet) {
            @include font(48px, 70px, 400);
            margin-bottom: 8px;
        }

        @media (max-width: $mobile) {
            @include font(36px, 52px, 400);
            margin-bottom: 46px;
        }
    }

    &__heading {
        text-transform: uppercase;
        font-family: $font-accent;
        @include font(144px, 176px, 700);
        color: $textBannerColor;
        position: relative;
        margin-bottom: 116px;

        @media (max-width: $tablet) {
            @include font(96px, 117px, 700);
            margin-bottom: 87.58px;
        }

        @media (max-width: $mobile) {
            @include font(49px, 59px, 700);
            margin-bottom: 116px;
        }
    }

    &__heading::after {
        content: '';
        border-top: 4px solid $lineBannerColor;
        width: 170px;
        position: absolute;
        top: 100%;
        left: 50%;
        display: inline-block;
        transform: translateX(-50%) translateY(53px);

        @media (max-width: $tablet) {
            width: 115.28px;
            transform: translateX(-50%) translateY(38.75px);
        }

        @media (max-width: $mobile) {
            width: 170px;
            transform: translateX(-50%) translateY(67px);
        }
    }

    &__btn {
        background-color: transparent;
        border: 4px solid $buttonColor;
        text-transform: uppercase;
        font-family: $font-primary;
        @include font(24px, 28px, 700);
        padding: 22px;
        max-width: 370px;
        width: 100%;
        margin-bottom: 137px;
        color: $buttonColor;
        cursor: pointer;
        transition: all 0.3s linear;

        @media (max-width: $tablet) {
            max-width: 318px;
            padding: 12.64px;
            margin-bottom: 78.89px;
            @include font(18px, 21px, 700);
        }

        @media (max-width: $mobile) {
            max-width: 285px;
            padding: 12.64px;
            margin-bottom: 53.75px;
            @include font(18px, 21px, 700);
        }

        &:hover {
            background-color: #fff;
            color: $textColorHover;
            transform: scale(1.1);
        }

        &:active {
            border: 4px solid $textColorHover;
        }

    }

    &__list {
        display: flex;
        column-gap: 30px;
        list-style-type: none;
        justify-content: space-between;

        @media (max-width: $tablet) {
            column-gap: 20px;
        }
    }

    &__btn-list {
        background-color: transparent;
        border: none;
        border-top: 4px solid $buttonColor;
        text-transform: uppercase;
        font-family: $font-primary;
        @include font(18px, 21px, 500);
        cursor: pointer;
        max-width: 270px;
        width: 100%;
        color: $textBannerColor;
        padding: 21px 0;
        text-align: left;

        @media (max-width: $tablet) {
            @include font(14px, 16px, 500);
            padding: 15px 0;
            max-width: 233px;
        }

        @media (max-width: $mobile) {
            @include font(0px, 0px, 0);
            min-width: 57px;
            padding: 0;
        }
    }

    &__btn-list_first {
        @media (max-width: $mobile) {
            border-top: 4px solid $lineColor;
        }
    }

    &__number {
        @include font(36px, 42px, 700);

        @media (max-width: $tablet) {
            @include font(24px, 28px, 700);
        }

        @media (max-width: $mobile) {
            @include font(0px, 0px, 0);
        }
    }

    &__item {
        position: relative;
        width: 100%;

        &:first-of-type::after {
            content: '';
            border-top: 4px solid $lineColor;
            width: 70px;
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;

            @media (max-width: $tablet) {
                width: 64px;
            }

            @media (max-width: $mobile) {
                width: 0;
            }
        }

    }
}

.nav {
    display: flex;
    column-gap: 41px;

    @media (max-width: $tablet) {
        column-gap: 44.43px;
    }

    @media (max-width: $mobile) {
        display: none;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        column-gap: 62px;

        @media (max-width: $tablet) {
            column-gap: 47px;
        }
    }

    &__link {
        text-decoration: none;
        outline: none;
        text-transform: uppercase;
        @include font(14px, 16px, 700);
        color: #fff;
        position: relative;
        transition: all 0.3s linear;

        &:hover {
            color: $textColorHover;

            &:before {
                content: '';
                border-top: 1px solid $textColorHover;
                width: 173.47%;
                position: absolute;
                top: 100%;
                left: 50%;
                display: inline-block;
                transform: translateY(5px) translateX(-50%);
                animation: drawLine 0.3s linear;
            }
        }
    }

    &__list-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        column-gap: 35px;

        @media (max-width: $tablet) {
            column-gap: 23.74px;
        }
    }

    &__icon path {
        transition: all 0.3s linear;
    }

    &__icon:hover path {
        fill: $textColorHover;
    }
}

.nav-mobile {
    display: none;

    @media (max-width: $mobile) {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100vw;
        height: 100vh;
        background: $gradientColor, $backgroundImage;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        overflow-y: auto;
        padding: 80px 0;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 49px;
    }

    &__link {
        display: block;
        padding: 20px 0;
        color: $textHeaderColor;
        text-decoration: none;
        text-transform: uppercase;
        @include font(13px, 15px, 700);

        &:hover {
            color: $textColorHover;
        }
    }
}

.about {
    margin-bottom: 66px;
    text-align: center;
    color: $sectionColor;

    @media (max-width: $tablet) {
        margin-bottom: 58px;
    }

    @media (max-width: $mobile) {
        margin-bottom: 58.99px;
    }

    &__header {
        margin-bottom: 96px;

        @media (max-width: $tablet) {
            margin-bottom: 82.21px;
        }

        @media (max-width: $mobile) {
            margin-bottom: 33px;
        }
    }

    &__title {
        @include font(30px, 44px, 400);
        font-family: $font-secondary;
        margin-bottom: 37px;

        @media (max-width: $tablet) {
            @include font(24px, 35px, 400);
            margin-bottom: 34.91px;
        }

        @media (max-width: $mobile) {
            margin-bottom: 36px;
        }
    }

    &__heading {
        @include font(36px, 42px, 900);
        margin-bottom: 79px;
        position: relative;
        text-transform: uppercase;

        @media (max-width: $tablet) {
            @include font(24px, 28px, 900);
            margin-bottom: 73.82px;
        }

        @media (max-width: $mobile) {
            margin-bottom: 57px;
        }

        &::before {
            content: '';
            border-top: 4px solid $lineColor;
            width: 170px;
            position: absolute;
            top: 100%;
            left: 50%;
            display: inline-block;
            transform: translateX(-50%) translateY(41px);

            @media (max-width: $tablet) {
                width: 148px;
                transform: translateX(-50%) translateY(41.09px);
            }

            @media (max-width: $mobile) {
                width: 134px;
                transform: translateX(-50%) translateY(40px);
            }
        }
    }

    &__description {
        @include font(18px, 21px, 400);
        color: $descriptionColor;

        @media (max-width: $tablet) {
            @include font(14px, 16px, 400);
        }
    }

    &__imgs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;

        @media (max-width: $tablet) {
            column-gap: 17.57px;
        }

        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
            row-gap: 16px;
        }
    }

    &__wrapper-content {
        aspect-ratio: 1/0.916;
        position: relative;

        @media (max-width: $tablet) {
            aspect-ratio: 1/0.8823;
        }

        @media (max-width: $mobile) {
            aspect-ratio: 1/0.8958;
        }

        &:hover {
            background-color: $advantagesBgColor;

            @media (max-width: $mobile) {
                background-color: transparent;
            }
        }

        &:hover .about__content {
            opacity: 1;
            animation: imageShiftDesktop 0.3s linear;

            @media (max-width: $tablet) {
                animation: imageShiftTablet 0.3s linear;
            }

            @media (max-width: $mobile) {
                animation: none;
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
        position: relative;
        z-index: -1;
        display: flex;
    }

    &__content {
        opacity: 0;
        display: flex;
        position: absolute;
        top: -16px;
        left: -16px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
        background: $gradientColor;
        gap: 30px 0;

        @media (max-width: $tablet) {
            top: -7px;
            left: -6px;
            gap: 26.09px 0;
        }

        @media (max-width: $mobile) {
            height: max-content;
            flex-direction: row;
            justify-content: flex-start;
            top: auto;
            left: 0;
            bottom: 0;
            padding: 26px 14px 26.54px;
            opacity: 1;
            gap: 0 32.54px;
            animation: contentShift 1s linear;

        }
    }

    &__wrapper-icon {
        width: 40px;
        height: 40px;
        overflow: hidden;

        @media (max-width: $tablet) {
            width: 33.46px;
            height: 33.46px;
        }

        @media (max-width: $mobile) {
            width: 30.46px;
            height: 30.46px;
        }
    }

    &__icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__text {
        @include font(24px, 28px, 500);
        color: $buttonColor;
        text-transform: uppercase;

        @media (max-width: $tablet) {
            @include font(18px, 21px, 500);
        }
    }
}

.achievements {
    background-color: $advantagesBgColor;
}

.achievement {
    display: flex;

    @media (max-width: $mobile) {
        flex-wrap: wrap;
        justify-content: center;
    }


    &__text {
        flex: 1;
        text-align: center;
        padding: 64px 0px;
        color: $textBannerColor;
        border-right: 1px solid $lineBannerColor;

        &:first-child {
            border-left: 1px solid $lineBannerColor;

            @media (max-width: $mobile) {
                border-left: none;
            }
        }

        @media (max-width: $tablet) {
            padding: 34px 0px 33.56px 0px;
        }

        @media (max-width: $mobile) {
            padding: 64px 0px;
            width: 50%;
            flex: 0 0 50%;
            border: none;
            border-bottom: 1px solid $lineBannerColor;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &__description {
        @include font(24px, 28px, 500);
        display: block;
        white-space: nowrap;

        @media (max-width: $tablet) {
            @include font(18px, 21px, 500);
        }
    }

    &__number {
        @include font(64px, 75px, 700);
        margin-bottom: 28px;
        display: block;

        @media (max-width: $tablet) {
            @include font(48px, 50px, 700);
        }
    }
}