* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$gradientColor: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
$textHeaderColor: #fff;
$textBannerColor: #fff;
$lineBannerColor: #fff;
$lineColor: #F38281;
$buttonColor: #fff;
$sectionColor: #2D3033;
$descriptionColor: #000;
$buttonBgColorHover: #fff;
$textColorHover: #F4BF87;
$buttonBgColorActive: #364b4c;
$advantagesBgColor: #95E1D3;
$socialmedBgColor: #F9EFCF;
$sectionBgColor: #fff;
$backgroundImage: url('../media/background__img.webp');

$font-primary: "Raleway", sans-serif;
$font-secondary: "Kaushan Script", cursive;
$font-accent: "Montserrat", sans-serif;

$tablet: 1024px;
$mobile: 767px;

@mixin font($fontSize, $lineHeight, $fontWeight) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

body {
    font-family: $font-primary;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.about {
    margin-bottom: 66px;
    text-align: center;
    color: $sectionColor;

    @media (max-width: $tablet) {
        margin-bottom: 58px;
    }

    @media (max-width: $mobile) {
        margin-bottom: 58.99px;
    }

    &__header {
        margin-bottom: 96px;

        @media (max-width: $tablet) {
            margin-bottom: 82.21px;
        }

        @media (max-width: $mobile) {
            margin-bottom: 33px;
        }
    }

    &__title {
        @include font(30px, 44px, 400);
        font-family: $font-secondary;
        margin-bottom: 37px;

        @media (max-width: $tablet) {
            @include font(24px, 35px, 400);
            margin-bottom: 34.91px;
        }

        @media (max-width: $mobile) {
            margin-bottom: 36px;
        }
    }

    &__heading {
        @include font(36px, 42px, 900);
        margin-bottom: 79px;
        position: relative;
        text-transform: uppercase;

        @media (max-width: $tablet) {
            @include font(24px, 28px, 900);
            margin-bottom: 73.82px;
        }

        @media (max-width: $mobile) {
            margin-bottom: 57px;
        }

        &::before {
            content: '';
            border-top: 4px solid $lineColor;
            width: 170px;
            position: absolute;
            top: 100%;
            left: 50%;
            display: inline-block;
            transform: translateX(-50%) translateY(41px);

            @media (max-width: $tablet) {
                width: 148px;
                transform: translateX(-50%) translateY(41.09px);
            }

            @media (max-width: $mobile) {
                width: 134px;
                transform: translateX(-50%) translateY(40px);
            }
        }
    }

    &__description {
        @include font(18px, 21px, 400);
        color: $descriptionColor;

        @media (max-width: $tablet) {
            @include font(14px, 16px, 400);
        }
    }

    &__imgs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;

        @media (max-width: $tablet) {
            column-gap: 17.57px;
        }

        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
            row-gap: 16px;
        }
    }

    &__wrapper-content {
        aspect-ratio: 1/0.916;
        position: relative;

        @media (max-width: $tablet) {
            aspect-ratio: 1/0.8823;
        }

        @media (max-width: $mobile) {
            aspect-ratio: 1/0.8958;
        }

        &:hover {
            background-color: $advantagesBgColor;

            @media (max-width: $mobile) {
                background-color: transparent;
            }
        }

        &:hover .about__content {
            opacity: 1;
        }
    } 

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
        position: relative;
        z-index: -1;
        display: flex;
    }

    &__content {
        opacity: 0;
        display: flex;
        position: absolute;
        top: -16px;
        left: -16px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
        background: $gradientColor;
        gap: 30px 0;

        @media (max-width: $tablet) {
            top: -7px;
            left: -6px;
            gap: 26.09px 0;
        }

        @media (max-width: $mobile) {
            height: max-content;
            flex-direction: row;
            justify-content: flex-start;
            top: auto;
            left: 0;
            bottom: 0;
            padding: 26px 14px 26.54px;
            opacity: 1;
            gap: 0 32.54px;
            
        }
    }

    &__wrapper-icon {
        width: 40px;
        height: 40px;
        overflow: hidden;

        @media (max-width: $tablet) {
            width: 33.46px;
            height: 33.46px;
        }

        @media (max-width: $mobile) {
            width: 30.46px;
            height: 30.46px;
        }
    }

    &__icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__text {
        @include font(24px, 28px, 500);
        color: $buttonColor;
        text-transform: uppercase;

        @media (max-width: $tablet) {
            @include font(18px, 21px, 500);
        }
    }
}

.achievements {
    background-color: $advantagesBgColor;
}

.achievement {
    display: flex;

    @media (max-width: $mobile) {
        flex-wrap: wrap;
        justify-content: center;
    }


    &__text {
        flex: 1;
        text-align: center;
        padding: 64px 0px;
        color: $textBannerColor;
        border-right: 1px solid $lineBannerColor;

        &:first-child {
            border-left: 1px solid $lineBannerColor;

            @media (max-width: $mobile) {
                border-left: none;
            }
        }

        @media (max-width: $tablet) {
            padding: 34px 0px 33.56px 0px;
        }

        @media (max-width: $mobile) {
            padding: 64px 0px;
            width: 50%;
            flex: 0 0 50%;
            border: none;
            border-bottom: 1px solid $lineBannerColor;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &__description {
        @include font(24px, 28px, 500);
        display: block;
        white-space: nowrap;

        @media (max-width: $tablet) {
            @include font(18px, 21px, 500);
        }
    }

    &__number {
        @include font(64px, 75px, 700);
        margin-bottom: 28px;
        display: block;

        @media (max-width: $tablet) {
            @include font(48px, 50px, 700);
        }
    }
}