*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../media/background__img.webp);
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    padding: 45px 0;
    margin-bottom: 77px;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper-logo{
    width: 97.64px;
    height: 26.1px;
    overflow: hidden;
}

.header__logo{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    column-gap: 62px;
}

.nav__item:nth-last-child(2) {
  margin-right: -27px; 
}

.nav__item:nth-last-child(3) {
  margin-right: -21px; 
}

.nav__link{
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #fff;
}

.nav-mobile{
    display: none;
}

.welcome__container{
    text-align: center;
    color: #fff;
}

.welcome__title{
    font-family: "Kaushan Script", cursive;
    font-size: 64px;
    font-weight: 400px;
    line-height: 93px;
    color: #fff;
}

.welcome__heading{
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 144px;
    font-weight: 700;
    line-height: 176px;
    color: #fff;
    position: relative;
    margin-bottom: 116px;
}

.welcome__heading::after {
    content: '';
    border-top: 4px solid #fff;
    width: 170px;
    position: absolute;
    top: 100%;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%) translateY(44px);
}
.welcome__btn{
    background-color: transparent;
    border: 4px solid #fff;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding: 22px;
    max-width: 370px;
    width: 100%;
    margin-bottom: 137px;
    color: #fff;
    cursor: pointer;
}

.welcome__list {
    display: flex;
    column-gap: 200px;
    list-style-type: none;
}

.welcome__link{
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: #fff;
}

.welcome__number{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.welcome__item{
    position: relative;
}

.welcome__item::before {
    content: '';
    border-top: 4px solid #fff;
    width: 270px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    transform: translateY(-21px);
}